@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Grotesk", sans-serif;
}
#loginForm input::placeholder {
  color: white;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #3c8599 !important;
}

.btn {
  color: white;
  background-color: #3c8599;
  border-radius: 3px;
  border: 1px solid #3c8599;
  transition: 0.3s all ease-in-out;
  padding: 10px 20px;
  font-weight: 600;
}
.btn:hover {
  background-color: #212121;
}

.active {
  color: white;
  background-color: #3c8599;
  border-radius: 3px;
  border: 1px solid #3c8599;
  padding: 10px 20px;
}
.text-control {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.hover\:bg-gray-100:hover {
  color: #212121;
}
.swiper-wrapper {
  padding-bottom: 35px;
}

.error-banner {
  position: relative;
}
.error-banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 0;
}
#dropdownNavbar {
  z-index: 500;
}
