@tailwind base;
@tailwind components;
@tailwind utilities;

#loginForm input::placeholder {
  color: white;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #3c8599 !important;
}
